.projects {
   width: 100vw;
   min-height: 100vh;
   margin: auto;
   display: grid;
   grid-template-areas:
      "title title"
      "p1 p2"
      "p3 p4"
      "p5 ."
      ". .";
   grid-template-rows: 2fr 2fr 2fr 2fr 1fr;
   grid-gap: 0 5vw;
   justify-content: center;
   align-items: center;
   background-color: #ebf5f5;
}
.projects .title-wrapper {
   grid-area: title;
}

.projects h2 {
   font-weight: normal;
   line-height: 2;
   width: 80vw;
   margin: auto;
}



@media screen and (max-width: 770px) {
   .projects {
      grid-template-areas:
         "title"
         "p"
         "p"
         "p"
         "p"
         "p"
         ".";
      grid-template-rows: repeat(6, 2fr) 0.5fr;
      grid-gap: 0;
   }
}
