.skill-bar {
   width: 50vw;
   position: relative;
   font-weight: 700;
}

.skill-bar.C\+\+ {
   grid-area: l1;
}
.skill-bar.JavaScript {
   grid-area: l2;
}
.skill-bar.Python {
   grid-area: l3;
}
.skill-bar.React\.js {
   grid-area: f1;
}
.skill-bar.Node\.js {
   grid-area: f2;
}

.skill-name {
   color: #17252a;
   position: absolute;
   left: 12vw;
   bottom: 120%;
}

.bar {
   width: auto;
   transform: scaleX(0);
   height: 20px;
   background-color: #2f918c2f;
   margin-right: 10vw;
   margin-left: 10vw;
   border-radius: 10px;
}

.skill-bar-animated .skill-bar .bar {
   transform-origin: left;
   animation: animate-bar 1s ease-in-out forwards;
}

.progress-line {
   transform-origin: left;
   position: relative;
   background-color: #2f918c;
   transform: scaleX(0);
   height: 100%;
   border-radius: 10px;
}

.skill-bar-animated .skill-bar .bar .progress-line {
   animation-name: animate-bar;
   animation-duration: 1s;
   animation-fill-mode: forwards;
   animation-timing-function: ease-in-out;
   .info {
      animation-name: animate-info;
      animation-duration: 0.2s;
      animation-fill-mode: forwards;
      animation-timing-function: ease-in-out;
   }
}

.info.C\+\+ {
   animation-delay: 1.7s;
}

.info.JavaScript {
   animation-delay: 2s;
}

.info.Python {
   animation-delay: 2.3s;
}
.info.React\.js {
   animation-delay: 2.6s;
}

.info.Node\.js {
   animation-delay: 2.9s;
}

.progress-line.C\+\+ {
   animation-delay: 0.7s;
   width: 75%;
}

.progress-line.JavaScript {
   animation-delay: 1s;
   width: 60%;
}
.progress-line.Python {
   animation-delay: 1.3s;
   width: 55%;
}
.progress-line.React\.js {
   animation-delay: 1.6s;
   width: 55%;
}

.progress-line.Node\.js {
   animation-delay: 1.9s;
   width: 30%;
}

.info {
   position: absolute;
   right: 0%;
   bottom: 120%;
   transform: scale(0);
}

@media screen and (max-width: 900px) {
   .skill-bar {
      width: 100vw;
   }
}

@keyframes animate-bar {
   from {
      transform: scaleX(0);
   }
   to {
      transform: scaleX(1);
   }
}

@keyframes animate-info {
   0% {
      transform: scale(0);
   }
   100% {
      transform: scale(1);
   }
}
