.skill-bar {
  width: 50vw;
  position: relative;
  font-weight: 700;
}

.skill-bar.C\+\+ {
  grid-area: l1;
}

.skill-bar.JavaScript {
  grid-area: l2;
}

.skill-bar.Python {
  grid-area: l3;
}

.skill-bar.React\.js {
  grid-area: f1;
}

.skill-bar.Node\.js {
  grid-area: f2;
}

.skill-name {
  color: #17252a;
  position: absolute;
  left: 12vw;
  bottom: 120%;
}

.bar {
  width: auto;
  height: 20px;
  background-color: #2f918c2f;
  margin-right: 10vw;
  margin-left: 10vw;
  border-radius: 10px;
}

.progress-line {
  -webkit-transform-origin: 0% 50%;
          transform-origin: 0% 50%;
  position: relative;
  background-color: #2f918c;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  height: 100%;
  border-radius: 10vw;
}

.skill-bar-animated .skill-bar .bar .progress-line {
  -webkit-animation-name: animate-bar;
          animation-name: animate-bar;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

.skill-bar-animated .skill-bar .bar .progress-line .info {
  -webkit-animation-name: animate-info;
          animation-name: animate-info;
  -webkit-animation-duration: 0.2s;
          animation-duration: 0.2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

.info.C\+\+ {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.info.JavaScript {
  -webkit-animation-delay: 1.3s;
          animation-delay: 1.3s;
}

.info.Python {
  -webkit-animation-delay: 1.6s;
          animation-delay: 1.6s;
}

.info.React\.js {
  -webkit-animation-delay: 1.9s;
          animation-delay: 1.9s;
}

.info.Node\.js {
  -webkit-animation-delay: 2.2s;
          animation-delay: 2.2s;
}

.progress-line.C\+\+ {
  width: 75%;
}

.progress-line.JavaScript {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
  width: 60%;
}

.progress-line.Python {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
  width: 55%;
}

.progress-line.React\.js {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
  width: 55%;
}

.progress-line.Node\.js {
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
  width: 30%;
}

.info {
  position: absolute;
  right: 0%;
  bottom: 120%;
  -webkit-transform: scale(0);
          transform: scale(0);
}

@media screen and (max-width: 900px) {
  .skill-bar {
    width: 100vw;
  }
}

@-webkit-keyframes animate-bar {
  from {
    width: 0%;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  to {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

@keyframes animate-bar {
  from {
    width: 0%;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  to {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

@-webkit-keyframes animate-info {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes animate-info {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
/*# sourceMappingURL=SkillBar.css.map */