.skills {
   width: 100vw;
   height: 100vh;
   background-color: #ebf5f5;
   display: grid;
   grid-template-areas: "title title title" ". skills ." ". . .";
   grid-template-rows: 2fr 6fr 1fr;
}

.skills .title-wrapper {
   grid-area: title;
}

.skills-wrapper {
   grid-area: skills;
   display: grid;
   grid-template-areas:
      "t1 t2"
      "l1 f1"
      "l2 f2"
      "l3 .";
}

.languages-heading {
   grid-area: t1;
}
.frameworks-heading {
   grid-area: t2;
}

@media screen and (max-width: 900px) {
   .skills {
      height: auto;
   }
   .skills-wrapper {
      grid-template-areas:
         "t1"
         "l1"
         "l2"
         "l3"
         "t2"
         "f1"
         "f2";
   }
}
