.about {
   font-size: 15px;
   min-width: 100vw;
   min-height: 100vh;
   margin: auto;

   display: flex;
   flex-direction: column;
}

.slide-div {
   display: flex;
}

.about-slide-nav {
   display: flex;
   gap: 20px;
   width: 100vw;
   justify-content: center;
   align-items: center;
   margin-bottom: 10vh;
   margin-top: 10vh;
}

.about-text {
   transition: 0.5s ease-in-out;
   display: flex;
   width: 100vw;
   min-height: 300px;
}

.about-slide-nav img {
   width: 24px;
   height: 24px;
   margin: 4px;
   transition: 0.1s ease-in-out;
}
.about-slide-nav img:hover {
   width: 28px;
   height: 28px;
   margin: 2px;
   cursor: pointer;
} 

.about-slide-nav img.active {
   width: 32px;
   height: 32px;
   margin: 0;
}


.about-p {
   width: 100vw;
   font-size: 20px;
   text-align: center;
   font-weight: normal;
   color: #17252a;
   line-height: 2;
   padding-left: 10vw;
   padding-right: 10vw;
   white-space: pre-wrap;
}

@media screen and (max-width: 990px) {
   .about-p {
      font-size: 14px;
      margin-bottom: 0;
      text-align: left;
      padding-left: 5vw;
      padding-right: 5vw;
   }
   .about {
      min-height: 200px;
   }
   .about-slide-nav img {
      width: 20px;
      height: 20px;
   }
   .about-slide-nav img:hover {
      width: 24px;
      height: 24px;
   } 
   
   .about-slide-nav img.active {
      width: 28px;
      height: 28px;
   }
}
