.about {
   font-size: 15px;
   width: 100vw;
   height: 100vh;
   margin: auto;

   display: flex;
   flex-direction: column;
}

.about h2 {
   text-align: left;
   font-weight: normal;
   color: #17252a;
   line-height: 2;
   margin-bottom: 20vh;
   padding-left: 10vw;
   padding-right: 10vw;
}

@media screen and (max-width: 990px) {
   .about h2 {
      font-size: 20px;
      margin-bottom: 0;
   }
}
