.project {
   position: relative;
   width: 40vw;
   height: 19vw;
   margin-bottom: 10vh;
   opacity: 0;

   img,
   .overlay {
      width: 40vw;
      height: 19vw;
      position: absolute;
      top: 0;
      left: 0;
   }

   .overlay {
      transition: 0.3s ease-out;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      border: 1px solid #17252a;

      h1 {
         color: #17252a;
         transition: 0.3s ease-out;
         position: absolute;
         top: 0;
      }

      a,
      h1 {
         opacity: 0;
         pointer-events: none;
      }

      a {
         text-decoration: none;
         outline: none;
         color: #17252a;
         font-size: 150%;
         border: 2px solid #2f918c;
         padding: 10px 20px;
         transition: 0.3s ease-out;
         position: absolute;
         bottom: 0;
      }

      a:hover {
         color: white;
         background-color: #2f918c;
      }
   }

   .overlay:hover {
      background-color: rgba(255, 255, 255, 0.95);

      a {
         bottom: 20%;
      }
      .project-title {
         top: 20%;
      }

      a,
      .project-title {
         opacity: 1;
         pointer-events: all;
      }
   }
}

@media screen and (max-width: 770px) {
   .project {
      width: 80vw;
      height: 38vw;
      img,
      .overlay {
         width: 80vw;
         height: 38vw;
      }
   }
}

@media screen and (max-width: 850px) {
   .project {
      .overlay {
         .project-title {
            font-size: 100%;
         }
      }
      a {
         transform: scale(0.5);
      }
   }
}

@media screen and (max-width: 1200px) {
   .overlay {
      .project-title {
         font-size: 125%;
      }
   }
   a {
      transform: scale(0.6);
   }
}

@keyframes slideUpAnimation {
   0% {
      opacity: 0;
      transform: translateY(100%);
   }
   100% {
      opacity: 1;
      transform: translateY(0);
   }
}

.animated-slide-up {
   animation: slideUpAnimation 0.5s ease-in-out forwards;
}
.project-1,
.project-2 {
   animation-delay: 0.2s;
}
