.project {
  position: relative;
  width: 40vw;
  height: 19vw;
  margin-bottom: 10vh;
  opacity: 0;
}

.project img,
.project .overlay {
  width: 40vw;
  height: 19vw;
  position: absolute;
  top: 0;
  left: 0;
}

.project .overlay {
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  border: 1px solid #17252a;
}

.project .overlay .project-title {
  color: #17252a;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
  position: absolute;
  top: 0;
  font-size: 2vw;
}

.project .overlay a,
.project .overlay h1 {
  opacity: 0;
  pointer-events: none;
}

.project .overlay a {
  text-decoration: none;
  outline: none;
  color: #17252a;
  font-size: 1.5vw;
  border: 2px solid #2f918c;
  padding: 10px 20px;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
  position: absolute;
  bottom: 0;
  width: 30%;
  height: 18%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.project .overlay a:hover {
  color: white;
  background-color: #2f918c;
}

.project .overlay:hover {
  background-color: rgba(255, 255, 255, 0.95);
}

.project .overlay:hover a {
  bottom: 20%;
}

.project .overlay:hover .project-title {
  top: 20%;
}

.project .overlay:hover a,
.project .overlay:hover .project-title {
  opacity: 1;
  pointer-events: all;
}

@media screen and (max-width: 1100px) {
  .project .overlay a {
    font-size: 1.25vw;
  }
}

@media screen and (max-width: 850px) {
  .project .overlay .project-title {
    font-size: 2.5vw;
  }
  .project .overlay a {
    width: 32%;
    height: 20%;
    font-size: 1.3vw;
  }
}

@media screen and (max-width: 770px) {
  .project {
    width: 80vw;
    height: 38vw;
  }
  .project img,
  .project .overlay {
    width: 80vw;
    height: 38vw;
  }
  .project .overlay .project-title {
    font-size: 4vw;
  }
  .project .overlay a {
    width: 30%;
    height: 18%;
    font-size: 2.5vw;
  }
}

@-webkit-keyframes slideUpAnimation {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes slideUpAnimation {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.animated-slide-up {
  -webkit-animation: slideUpAnimation 0.5s ease-in-out forwards;
          animation: slideUpAnimation 0.5s ease-in-out forwards;
}

.project-1,
.project-2 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}
/*# sourceMappingURL=ListProject.css.map */