.home {
   width: 100vw;
   height: 100vh;
   background-color: #2f918c;
   color: #feffff;

   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.home h2 {
   font-weight: normal;
   font-size: 50px;
   line-height: 1.2;
}

.home-button {
   background: none;
   color: #feffff;
   width: auto;
   height: 70px;
   font-size: 30px;
   margin: 30px;

   border: 2px solid #feffff;
   padding: 15px;

   transition: 0.2s linear;
}

.arrow {
   position: relative;
   top: 4px;
   transition: 0.2s linear;
}

.home-button:hover > .arrow {
   transform: rotate(90deg);
}

.home-button:hover {
   background: #17252a;
   border-color: #17252a;
   cursor: pointer;
}

.home-name {
   font-style: normal;
   color: #fd5058;
   position: absolute;
   visibility: visible;

   text-shadow: 2px 2px 8px rgba(0,0,0,0.3)
}

.home-name-placeholder {
   font-style: normal;
   position: relative;
   visibility: hidden;
}

@media screen and (max-width: 990px) {
   .home h2 {
      font-size: 35px;
   }
   .home-button {
      font-size: 23px;
   }
}

@media screen and (max-width: 600px) {
   .home h2 {
      font-size: 30px;
   }
}