.logo {
   text-transform: uppercase;
   letter-spacing: 3px;
   font-size: 12px;
   font-weight: bold;
   color: #feffff;
   z-index: 30;
}

nav {
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   align-items: center;
   height: 8vh;
   background-color: #17252a;
   position: sticky;
   top: 0;
   right: 0;
   width: 100vw;
   z-index: 20;
   font-family: "Poppins", sans-serif;
}

.nav-links {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   background-color: #17252a;
   width: 20%;
}
.nav-links-hidden {
   opacity: 0;
   pointer-events: none;
}

ul {
   list-style-type: none;
}

.nav-link {
   text-decoration: none;
   color: #feffff;
   background: none;
   border: none;
   font-size: 17px;
   font-weight: normal;
   z-index: 30;
   position: relative;
   transition: 0.15s ease-in-out;
}

.nav-link:after {
   content: "";
   position: absolute;
   height: 2px;
   width: 0;
   bottom: -3px;
   left: 0;
   background-color: white;
   transition: 0.15s ease-in-out;
}

.nav-link:hover {
   cursor: pointer;
   color: white;
}

.nav-link:hover:after {
   width: 100%;
}

@media screen and (max-width: 1024px) {
   nav {
      min-height: 90px;
      height: 10vh;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
   }
   .nav-links {
      width: 100vw;
      max-width: 800px;
      justify-content: space-evenly;
   }

   .nav-links button {
      font-size: 16px;
   }
}
